.charts h2
{
    font-style:bold;
    color:#00A6AA;
}
  
#container
{
    text-align:center;
    width: 100%;
    margin-top: 32px;
}

.charts 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bubbleContainer
{
    width: 50%;
    height: 850px;
    border: 1px solid #BFD1D4;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
}
  
.bubbleContainer circle 
{
    position: relative;
    fill:#3498DB;
    stroke: black;
    stroke-width:2px;
    opacity: .8;
}

.bubbleContainer circle:hover 
{
    stroke:#22A7F0;
}
    
.test 
{
position: absolute;
width: 200px;
height: 50px;
background: white;
border: solid 2px black;
}
  
  
.label 
{
    fill: black;
    font-size: 16px;
    font-weight: bold;
}

label
{
    cursor: pointer;
}

label input
{
    display: none;
}

#overallRatings
{
    margin-bottom: 25px;
}

#overallRatings label
{
    border: solid 1px #333333;
    border-radius: 4px;
    padding: 5px;
}

#overallRatings label.active
{
    background: #333333;
    color: white;
}

#RiskCycle
{
    margin-bottom: 25px;
}

#RiskCycle label
{
    border: solid 1px #0E99EF;
    border-radius: 4px;
    padding: 5px;
}

#RiskCycle label.active
{
    background: #0E99EF;
}
        
.worldLabel 
{
    fill: black;
    font-size: 16px;
    font-weight: bold;
}
  
.ratingCategory1{
fill:#88DB54;
}

.ratingCategory2{
fill: url(#lowModGrad);
}

.ratingCategory3{
fill:#FE9A2E;
}

.ratingCategory4{
fill: url(#lowHighGrad);
}

.ratingCategory5{
fill: url(#modHighGrad);
}
.ratingCategory6{
fill:#FF0000;
}

circle.Renouvelables, circle.RenouvelablesMonde, circle.RenouvelablesFrance, circle.Hydraulique, circle.Eolienne, circle[class^="Thermiques"], circle.Solaire
{
fill:#88DB54;
}

circle.Moderate{
fill:#FE9A2E;
}

circle.NonRenouvelables, circle.NonRenouvelablesMonde, circle.NonRenouvelablesFrance, circle.GazNaturel, circle.Petrole, circle.Charbon, circle.Nucleaire{
fill:#FF0000;
}

circle.Suspended{
fill:#A4A4A4;
}
circle.All-Objects{
fill:#3498db;
}


.selected {
fill:#3498DB;
stroke: black;
stroke-width: 2px;
}


.yAxis path,
.yAxis line {
fill: none;
stroke: none;
}

.xAxis path,
.xAxis line {
fill: none;
stroke: #7f8c8d;
}


.yAxis text {
font-family: sans-serif;
font-size: 15px;
color: #ecf0f1;

}

.xAxis text {
font-family: arial;
font-size: 11px;
color: #ecf0f1;

}

.notes {
text-align:left;
padding-top: 10px;
}

.imageContainer {
text-align: center;
padding-top: 10px;
}

/* Canvas */
.canvas-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
}

.canvas
{
    width: 50%;
    height: 100%;
}