/* global css */
html 
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    --main-blue: #0E99EF;
    --grey: #7F7777;
    --black: #333333;
    --text-size: 1.25rem;
    --news-size: 1.563rem;
    --title-size: 1.953rem;
    --big-title-size: 2.441rem;
}

body 
{
    margin: 0;
    padding: 0;
    color: var(--black);
    overflow-x: hidden;
}

/* Global list and link */
li 
{
    list-style: none;
}

li>a 
{
    text-decoration: none;
}

/* Header / Footer*/
#header, #content
{
    margin: 0 40px;
}

#header, #footer 
{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.menu-headermenu-container
{
    width: 60%;
}

.menu-footermenu-container
{
    width: 60%;
}

.menu_header, .menu_footer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.menu_header a
{
    position: relative;
    color: var(--grey);
    font-size: 1em;
}

.menu_header a::after, .menu_footer a::after
{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--grey);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.menu_header a:hover::after, .menu_footer a:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}

/*
*   ARTICLE PAGE
*/
 
.entry-content
{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.entry-content p,
.wp-block-image
{
    width: 45vw;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

.content 
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.entry-title,
.entry-content h4
{
    margin-right: auto;
    margin-left: auto;
    width: 45vw;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.entry-title
{
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 3em;
    width: 45vw;
}

iframe
{
    margin: 30px 0 30px 0;
    width: 100vw;
    height: 80vh;
}


/**
 * Arrows
 */

.slider__arrow, .slider__arrow--prev, .slider__arrow--next, .glide__arrow, .glide__arrow--prev, .glide__arrow--next
{
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
}

.slider__arrow--prev
{
    left: 0;
}

.slider__arrow--next
{
    right: 0;
}

.glide__slide 
{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: items;
}

.glide__slide img
{
    width: 70%;
    height: 70%;
}




/*
*   Footer
*/

.menu_footer a 
{
    color: white;
    font-size: 1em;
    position: relative;
}

footer 
{
    background: var(--black);
    padding: 0 40px;
    margin-top: 60px;
}

footer .logo-footer svg text
{
    fill: white;
}

/* nav */

ul
{
    margin: 0;
}

nav 
{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

#footer nav
{
    width: 30%;
}

#footer nav .logos
{
    width: 30%;
}

nav .logos 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 20px;
    width: 25%;
}

#footer nav .logos .logo_facebook svg g, #footer nav .logos .logo_twitter svg g, #header nav.toggle .logos .logo_facebook svg g, #header nav.toggle .logos .logo_twitter svg g
{
    fill: white;
}

#footer nav .logos .logo_search svg g, #header nav.toggle .logos .logo_search svg g
{
    stroke: white;
}

/* Main homepage */
main.homepage-main , main.archives-main
{
    box-sizing: border-box;
    width: 80vw;
    margin: 0 auto;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-description
{
    text-align: center;
    width: 100%;
    font-size: var(--title-size);
    font-weight: 600;
    margin-bottom: 0;
}

.latest-post
{
    position: relative;
    margin-top: 24px;
}

.latest-post::before
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: var(--main-blue);
}

.latest-article
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    text-decoration: none;
    color: var(--black);
}

.thumbnail
{
    border: none;
    box-shadow: none;
}

.latest-article .thumbnail
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-article .thumbnail img
{
    width: auto;
    height: 90%;
}

.latest-article .latest-article-content
{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--black);
}

.latest-article .latest-article-content .article-title
{
    font-size: var(--big-title-size);
    font-weight: bold;
    margin-bottom: 0;
}

.latest-article .latest-article-content .texts
{
    font-family: 'Source Serif Pro', serif;
    font-size: var(--news-size);
    font-weight: normal;
}

.articles-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.articles-container .article
{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-decoration: none;
    color: var(--black);
}

.articles-container .article .thumbnail
{
    margin-top: 24px;
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.articles-container .article .thumbnail img
{
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
}

.articles-container .article .article-title
{
    font-size: var(--title-size);
    font-weight: bold;
}

.articles-container .article .texts
{
    font-family: 'Source Serif Pro', serif;
    font-size: var(--text-size);
    font-weight: normal;
}

.article-bottom
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.newsletter form
{
    width: 50%;
    height: 60px;
    position: relative;
    box-sizing: border-box;
}

.newsletter form input
{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    font-size: var(--news-size);
    border-radius: 4px;
    border: solid 1px var(--black);
    padding: 10px;
    text-decoration: none;
    outline: none;
}

.newsletter form button
{
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    font-size: var(--news-size);
    border-radius: 4px;
    color: white;
    background: #0E99EF;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Blue lines */
.before
{
    position: relative;
    margin-top: 24px;
}

.before::before
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: var(--main-blue);
}

/* Buttons */
.toggle-button
{
    display: none;
    position: fixed;
    right: 50px;
    top: 100px;
    height: 5px;
    width: 80px;
    background: var(--black);
    z-index: 20;
}

.toggle-button::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--black);
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.toggle-button::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--black);
    transition: transform 0.3s;
    transform: translateY(10px);
}

.toggle-button.toggle
{
    background: #0E99EF00;
}

.toggle-button.toggle::before
{
    transform: rotate(45deg);
}

.toggle-button.toggle::after
{
    transform: rotate(-45deg);
}

/* 
* About page
*/

.about-main
{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.about-main h1, .about-main h2
{
    font-size: var(--big-title-size);
    font-weight: bold;
}

.about-main p
{
    margin-top: 32px;
    line-height: 30px;
}

.bar-after
{
    position: relative;
}

.bar-after::after
{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 10%;
    height: 2px;
    background: var(--main-blue);
}

.about-main .team
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.about-main .people
{
    width: 30%;
    text-align: center;
    margin-top: 32px;
}

.about-main .people p
{
    font-size: var(--text-size);
    font-weight: 700;
}

.about-main .people-img
{
    width: 100%;
    height: auto;
}

.about-main .people-img img
{
    width: 100%;
    height: auto;
}

/* Responsive */
@media screen and (max-width: 1024px) 
{
    html {
        font-size: 18px;
    }

    /*
    ** NAVIGATION
    */

    #header nav 
    {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--main-blue);
        z-index: 10;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    #header nav.toggle
    {
        transform: translateY(0);
    }

    #header nav.toggle .logos 
    {
        height: 100px;
        width: 50%;
    }

    .menu-headermenu-container
    {
        width: 50%;
    }

    .menu_header
    {
        margin-top: 48px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 18vh;
    }

    .toggle-button
    {
        display: block;
    }

    /*
    ** HOME
    */

    .latest-article
    {
        flex-direction: column;
        height: auto;
    }

    .menu_header a 
    {
        color: white;
        font-size: 3rem;
    }

    #header nav.toggle .logos svg
    {
        height: 100px;
        width: 100px;
    }

    .latest-article .thumbnail
    {
        width: 100%;
    }

    .latest-article .thumbnail img
    {
        width: 100%;
        height: auto;
    }

    .latest-article .latest-article-content
    {
        width: 100%;
    }

    .articles-container
    {
        flex-direction: column
    }

    .articles-container .article
    {
        flex-direction: row;
        width: 85vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .articles-container .article .thumbnail
    {
        width: 40vw;
        height: auto;
    }

    .articles-container .article .article-description
    {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
    }

    .articles-container .article .article-description .article-title
    {
        width: 60vw;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .articles-container .article .article-description .texts
    {
        width: auto;
        font-size: 0.9rem;
    }

    /*
    ** ARTICLE
    */

    .entry-content p,
    .wp-block-image
    {
        width: 80vw;
    }

    .entry-content p a
    {
        display: inline-block;
        font-size: 1.5rem;
    }

    .entry-title,
    .entry-content h4
    {
        margin-right: auto;
        margin-left: auto;
        width: 80vw;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.5em;
    }

    .entry-title
    {
        margin-top: 75px;
        margin-bottom: 10px;
        font-size: 3em;
        width: 80vw;
    }

    .video_intro
    {
        margin: 10px 0 10px 0;
        width: 100vw;
        height: auto;
    }

    iframe
    {
        height: 30vh;
    }

    .canvas-container
    {
        height: 10vw;
    }
    
    /*
    ** ABOUT
    */

    .about-main
    {
        width: 80vw;
        font-size: 0.8rem;
    }

    .about-main .team
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
